<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Titillium+Web:ital,wght@0,300;1,200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaqueries.css') }}">
    <title>Messages</title>
</head>
<body>
    <div>
        <div class="top-message home">
            <h1 class="hello-message">Chat with {{user2.first_name}}</h1>
        </div>
        <div class="profile-bar">
            <div class="profile-pic">
                {% if profile %}
                    <a href="/dashboard"><img src="/pics/{{profile.id}}" alt="profile-pic" class="photo-profile-main"></a>
                {% endif %}
                {% if not profile %}
                    <a href="/dashboard"><img src="https://upload-icon.s3.amazonaws.com/uploads/icons/png/19339625881548233621-512.png" alt="no-profile-pic" class="photo-profile-main"></a>
                {% endif %}
            </div>
            <div class="nav-links">
                <div class="glass-box nav-bar">
                    <h4><a href="/dashboard">Dashboard</a></h4>
                    <h4><a href="/users/edit">Edit profile</a></h4>
                    <h4><a href="/users/messages">Inbox</a></h4>
                    <h4>(You have <span class="notifications">{{user.new_message}}</span> new message)</h4>
                    <h4><a href="/logout">Logout</a></h4>
                </div>
            </div>
        </div>
    

        <div class="flex-column inbox">
            {% if messages %}
                <div class="message-scroll">
                <div class="center padding">
                    <h3><a href="/users/{{user2.id}}">{{ user2.first_name }} {{ user2.last_name }}</a></h3>
                    <div class="profile-pic">
                        {% if profile2 %}
                            <a href="/users/{{user2.id}}"><img src="/pics/{{profile2.id}}" alt="profile-pic" class="photo-profile-main-sm"></a>
                        {% endif %}
                        {% if not profile2 %}
                            <a href="/users/{{user2.id}}"><img src="https://upload-icon.s3.amazonaws.com/uploads/icons/png/19339625881548233621-512.png" alt="no profile pic" class="photo-profile-main-sm"></a>
                        {% endif %}
                    </div>
                </div>
                {% for message in messages %}
                    {% if message.sender.id == session.user_id %}
                        <div class="one-message">
                            <div class="left-blank">
                            </div>
                            <div class="outgoing-message">
                                <h4 class="message-text">{{message.text}}</h4>
                                <p class="small-font">{{message.created_at.strftime("%I:%M %a - %b %d")}}</p>
                                <div class="message-buttons">
                                    <a href="/messages/delete/{{message.id}}"><button class="delete-button"><p>Delete</p></button></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if message.sender.id != session.user_id %}
                        <div class="one-message">
                            <div class="incoming-message">
                                <h4 class="message-text">{{message.text}}</h4>
                                <p class="small-font">{{message.created_at.strftime("%I:%M %a - %b %d")}}</p>
                                <div class="message-buttons">
                                    <a href="/messages/delete/{{message.id}}"><button class="delete-button"><p>Delete</p></button></a>
                                </div>
                            </div>
                            <div class="right-blank">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}

            {% if not messages %}
                <p>No messages yet...</p>
            {% endif %}

            <div class="reply-box">
                <form action="/messages/threads/process/{{user2.id}}" method="post">
                    <input type="textarea" name="text" class="message-field" /><br>
                    <input type="hidden" name="sender_id" value="{{session.user_id}}">
                    <input type="hidden" name="receiver_id" value="{{user2.id}}">
                    <button class="reply-button">
                        <p>Send</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>